.test{
    width: 611px;
    height: 462px;
    display: inline-block;
    margin: 0px 0px 0px 25px;
}
.css{
    display: inline-block;
    margin: 0px 0px 0px 25px;
}
.css img{
    width: 449px;
    height: 462px;
}