*{
    box-sizing: border-box;
}
*{
    font-family: 'Open Sans', sans-serif;
}
.head{
    width: 1920px;
    height: 1200px;
    background-color: black;
    background-image: url(../for-study-fe/img/iPhone13.png);
}
.head h1{
    width: 81px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: white;
    position: relative;
    top: 58px;
    left: 85px;
}