.wide-wrapper{
    width: 1487px;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: white;
}
header{
    margin-top: 0 auto;
    padding:  22px 0;
}
h3{
    color: black;
    text-align: left;
    padding: 5px;
    text-decoration: none;
   margin: 20px;
}
h4{
    color: black;
    text-align: right;
    text-decoration: none;
}
.container{
    margin: 20px;
}