.body{
    margin: 0 auto;
}
.container{
    width: 1512px;
    height: 96px;
    display: inline-block;
}
.logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 6px 12px;
    display: inline-block;
    text-align: left;
    font-size: 27px;
}
.logo h3{
    width: 183px;
    display: inline-block;
    margin: 0px 510px 0px 0px; 
}
.nav a{
    font-family: 'Poppins', sans-serif;
    padding: 16px 12px;
    font-weight: 500;
    display: inline-block;
    text-align: right;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.nav{
    display: inline-block;
    width: 780px;
}
button{
    color: blue;
    border: 2px solid blue;
    background-color: white;
    width: 128px;
    padding: 10px 16px;
    font-size: 21px;
    margin: 0px 16px;
}
.top{
    width: 1100px;
    height: 700px;
    margin: auto;
    display: inline-block none;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 47px;
    width: 600px;
    padding: 24px 0px;
    margin: 352px 0px 0px 183px;
}
.h1 p{
    font-size: 16px;
    width: 611px;
    height: 56px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
    display: inline-block;
}
h1 div{
    display: inline-block;
}
.button-logo{
    width: 120px;
    background-color:#0062FF;
    font-family: 'Poppins', sans-serif;
    padding: 10px 16px;
    margin: 24px 22px 0px 0px;
    text-align: center;
    color: white;
    font-size: 16px;
    display: inline-block;
}
.button-nav{
    width: 170px;
    background-color:white;
    font-family: 'Poppins', sans-serif;
    padding: 10px 16px;
    text-align: center;
    color: #575757;
    border: 1px solid #575757;
    font-size: 16px;
    display: inline-block;
}
.text p{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0px auto;
}
.logo{
    width: 1190px;
    display: inline-block;
    margin: auto;
}
.photo{
    width: 150px;
    display: inline-block;
}
.photo img{
    width: 150px;
}
.text{
    width: 645px;
    display: inline-block;
}
.autor{
    width: 237px;
    display: inline-block;
}
