*{
    box-sizing: border-box;
}
*{
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Noto Serif Georgian', serif;
}
.block1{
    background-color: #668E68;
    width: 100%;
    height: 80px;
    display: flex;
    background-size: 100%;
    .logo{
        width: 13%;
        position: relative;
        left: 405px;
        margin-top: 15px;
        p{
            font-size: 44px;
            font-weight: 400;
            color: white;
            font-family: 'Noto Serif Georgian', serif;
            margin: 0 auto;
        }
    }
}   
.logo1{
    position: relative;
    left: 634px;
    margin-top: 25px;
    display: flex;
}
.logo2 a{font-size: 18px;
        font-weight: 500;
        color: white;
        margin: 0 auto;
        text-decoration: none;
    }
.logo3 a{
        font-size: 18px;
        font-weight: 500;
        color: white;
        margin: 0 auto;
        position: relative;
        left: 52px;
        text-decoration: none;
}
.logo4 a{
        font-size: 18px;
        font-weight: 500;
        color: white;
        margin: 0 auto;
        position: relative;
        left: 102px;
        text-decoration: none;
    }
.logo5 a{
        font-size: 18px;
        font-weight: 500;
        color: white;
        margin: 0 auto;
        position: relative;
        left: 152px;
        text-decoration: none;
        
    }
.block2{
    width: 100%;
    height: 520px;
    background-image: url(../img/coffee1.png) ;
    background-repeat: no-repeat;
    p{
        width: 38%;
        font-size: 110px;
        font-weight: 400;
        margin: auto;
        padding-top: 200px;
        color: white;
        font-family: 'Shadows Into Light', cursive;
    }
}
.block3{
    width: 100%;
    background-size: 100%;
        h3{
        width: 6%;
        font-size: 40px;
        font-weight: 400;
        margin: auto;
        padding-top: 60px;
        color: black;
        font-family: 'Shadows Into Light', cursive;
     }
    }
.menu h4{
        width: 13%;
        margin: auto;
        color: black;
        font-size: 40px;
        font-weight: 400;
        margin-top: 14px;
}
.items{
    width: 1150px;
    margin: auto;
    margin-top: 39px;
    display: flex;
}
.items1{
    background-image: url(../img/tea.png);
    width: 350px;
    height: 350px;
    border-radius: 200px;
    border: 9px solid #81613B;
    overflow: hidden;
    margin-left: 30px;
}
.circle1{ 
    width: 100%;
    height: 350px;
    border-radius: 200px;
    opacity: 100%;
        a{
            width: 100%;
        margin: auto;
        height: 65px;
        background-color:white;
        color: black;
        font-size: 26px;
        opacity: 80%;
        font-weight: 400;
        position: relative;
        top: 267px;
        text-align: center;
        text-decoration: none;
        padding-top: 20px;
        font-family: 'Noto Serif Georgian', serif;
        display: inline-block;
    }
}
.items2{
    background-image: url(../img/cake.png);
    width: 350px;
    height: 350px;
    border-radius: 200px;
    border: 9px solid #81613B;
    overflow: hidden;
    margin-left: 30px;
}
.circle2{ 
    width: 100%;
    height: 350px;
    border-radius: 200px;
    opacity: 100%;
        a{
            width: 100%;
        margin: auto;
        height: 65px;
        background-color:white;
        color: black;
        font-size: 26px;
        opacity: 80%;
        font-weight: 400;
        position: relative;
        top: 267px;
        text-align: center;
        text-decoration: none;
        padding-top: 20px;
        font-family: 'Noto Serif Georgian', serif;
        display: inline-block;
    }
}
.items3{
    background-image: url(../img/foods.png);
    width: 350px;
    height: 350px;
    border-radius: 200px;
    border: 9px solid #81613B;
    overflow: hidden;
    margin-left: 30px;
}
.circle3{ 
    width: 100%;
    height: 350px;
    border-radius: 200px;
    opacity: 100%;
        a{
            width: 100%;
        margin: auto;
        height: 65px;
        background-color:white;
        color: black;
        font-size: 26px;
        opacity: 80%;
        font-weight: 400;
        position: relative;
        top: 267px;
        text-align: center;
        text-decoration: none;
        padding-top: 20px;
        font-family: 'Noto Serif Georgian', serif;
        display: inline-block;
    }
}
.button1{
    width: 176px;
    height: 40px;
    margin: auto;
    background-color: #668E68;
    border-radius: 20px;
    display: flex;
    margin-top: 46px;
    p{
        width: 148px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 7px 34px;
    color: white;
    margin: 0 auto;
    }
    img{
        width: 12px;
        height: 12px;
        position: relative;
        top: 11px;
        left: -18px;
    }
}
.block4{
    width: 100%;
    height: 600px;
    margin-top: 62px;
    background-image: url(../img/cafe1.png);
    background-repeat: no-repeat;
    h1{
        width: 89px;
        color: white;
        padding-top: 138px;
        margin: 0 auto;
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        font-family: 'Shadows Into Light', cursive;
    }
    h2{
        width: 193px; 
        text-align: center;
        font-size: 26px;
        font-weight: 400;
        font-family: 'Noto Serif Georgian', serif;
        color: white;
        margin: 0 auto;
    }
    p{
        width: 367px; 
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Noto Serif Georgian', serif;
        color: white;
        margin: 0 auto;
        margin-top: 32px;
    }
}
.button2{
    width: 176px;
    height: 40px;
    margin: auto;
    background-color: #668E68;
    border-radius: 20px;
    display: flex;
    margin-top: 67px;
    p{
        width: 148px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 7px 34px;
    color: white;
    margin: 0 auto;
    }
    img{
        width: 12px;
        height: 12px;
        position: relative;
        top: 11px;
        left: -18px;
    }
}
.block5{
    width: 100%;
    height: 406px;
    background-color: rgba(129, 97, 59, 0.2);
    background-size: 100%;
    h1{
        width: 148px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding-top: 83px;
    color:black;
    margin: 0 auto;
    font-family: 'Shadows Into Light', cursive;
    }
    h2{
        width: 148px;
        font-size: 26px;
        font-weight: 400;
        text-align: center;
        color:black;
        margin: 0 auto;
        font-family: 'Shadows Into Light', cursive;
    }
}
.in{
    width: 70%;
    height: 102px;
    margin: auto;
    border: 1px solid #668E68;
    margin-top: 62px;
    background-color: white;
}
.top{
    width: 658px;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    }
.top1{
    width: 100px;
    height: 26px;
    margin: 0px;
    h2{
        color: black;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        margin: 0px;
    }
}
.top2{
    width: 614px;
    height: 26px;
    margin: 0px;
   
    p{
        color: black;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        margin: 0px;
    }
}
.down{
    width: 700px;
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
}
.down1{
    width: 100px;
    height: 26px;
    margin: 0px;
    h2{
        color: black;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        margin: 0px;
    }
}
.down2{
    width: 614px;
    height: 26px;
    margin: 0px;
   
    p{
        color: black;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        margin: 0px;
    }
}
.block6{
    width: 100%;
    height: 180px;
    background-color: black;
    background-size: 100%;
}
.lf-rh{
    width: 70%;
    height: 110px;
    padding-top:20px;
    margin: auto;
}
.left{
    width: 185px;
    float: left;
    padding-top: 20px;
    p{
        color: white;
        font-size: 16px;
        font-weight: 500;
       
    }
}
.right{
    width: 302px;
    float: right;
    padding-top: 20px;
    p{
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
}
.corner{
    width: 32px;
    height: 32px;
    margin-top: 21px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #668E68;
    float: right;
    img{
        width: 17px;
        height: 17px;
    }
    button{
        background-color: transparent;
        width: 32px;
    height: 32px;
    }
}
.burger{
    width: 33px;
    height: 26px;
    display: none;
    overflow: hidden;
    margin-top: 25px;
    position: relative;
    left: 300px;
}

.burger a{
    background-color: white;
    color: #668E68;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.category{
    width: 225px;
    background-color: white;
    overflow:scroll;
}
@media(max-width: 414px) {
    .block1 .logo{
       position: relative;
       left: 14px;
    }
    .logo1{
        display: none;
    }
    .burger{
        display: block;
    }
    .items {
        width: 414px;
      flex-direction: column;
    }
    .items1{
        width: 300px;
        height: 300px;
        margin:auto;
        
    }
    .items2{
        width: 300px;
        height: 300px;
        margin:30px auto;
    }
    .items3{
        width: 300px;
        height: 300px;
        margin:auto;
    }
    .circle1 a{
        position: relative;
        top: 228px;
    }
    .circle2 a{
        position: relative;
        top: 228px;
    }
    .circle3 a{
        position: relative;
        top: 228px;
    }
    .menu h4{
        width: 40%;
    }
    .block3 h3{
        width: 20%;
    }
    .block5{
        height: 443px;
    }
    .block5 h1{
        padding-top: 50px;
    }
    .in{
        width: 90%;
        height: 217px;
        margin: auto;
        margin-top: 49px;
    }
    .top{
        flex-direction: column;
        width: 318px;

    }
    .top2{
        width: 318px;
        line-height: 2;
        font-style: normal;
    }
    .down{
        flex-direction: column;
        width: 318px;
        margin-top: 34px;
    }
    .down2{
        width: 318px;
        line-height: 2;
    }
    .block6{
        float: none;
    }
    .lf-rh{
        padding-top: 0px;
    }
    .left{
        float: none;
        margin: auto;
        text-align: center;
    }
    .right{
        float: none;
        padding-top: 20px;
        margin: auto;
        text-align: center;
    }
    .corner{
        margin-top: 16px;
        margin-right: 10px;
        padding-bottom: 20px;
    }
  }
 