*{
    font-family: 'Abhaya Libre', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
}
.header {
    width: 100%;
    margin: auto;
    border: 2px;
}
.header2 {
    width: 90%;
}