*{
    box-sizing: border-box;
}
.head{
    width: 1920px;
    height: 1573px;
    background-image: url(../img/fon.png);
}
.start{
    width: 81px;
    display: inline-block;
    position: relative;
    top: -150px;
    left: 85px;
}
.start h1{
    width: 81px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.link{
    width: 480px;
    display: inline-block;
    position: relative;
    top: -150px;
    left: 887px;
}
.link a{
    width: 105px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin: auto 25px;
}
.search{
    width: 108px;
    display: inline-block;
    position: relative;
    top: -150px;
    left: 1100px;
}
.search img{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.img{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 3px;
    background-color: transparent;
}
.img img{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    background-color: transparent;
}
.search input{
    width: 69px;
    height: 23px;
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
    text-align: right;
    background-color: transparent;
    border: none;
}
.input text{
    width: 69px;
    height: 23px;
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
    text-align: right;
    border: none;
}
.side1{
    width: 30px;
    height: 220px;
    display: inline-block;
    writing-mode: vertical-rl;
    position: relative;
    top: 350px;
    left: -605px;
}
.social{
    width: 30px;
    height: 220px;
    display: inline-block;
}
.social h2{
    width: 30px;
    height: 220px;
    writing-mode: vertical-rl;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.social img{
    display: inline-block;
    position: relative;
    top: 100px;
    left: 30px;
    padding: 12px 0px;
}
.side2{
    width: 950px;
    display: inline-block;
    position: relative;
    top: 290px;
    left: -330px;
}
.line{
    width: 72px;
    height: 2px;
    background-color: #FFC178;
}
.title{
    width: 950px;
    display: inline-block;
    position: relative;
    left: 104px;
    top: -8px;
}
.title h2{
    color: #FFC178;
    font-size: 18px;
    font-weight: 700px;
    letter-spacing: 8px;
    font-family: 'Open Sans', sans-serif;
}
.title h3{
    color:  white;
    font-size: 96px;
    font-weight: 700px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 32px;
    line-height: 100px;
}
.title h4{
    color: white;
    font-size: 88px;
    font-weight: 400px;
    position: relative;
    top: 50px;
    line-height: 100px;
}
.down{
    width: 146px;
    display: inline-block;
    position: relative;
    top: 165px;
    left: 490px;
}
.down button{
    width: 150px;
    color: white;
    font-size: 18px;
    font-weight: 600px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    border: none;
}
.down img{
    width: 16px;
    height: 24px;
    display: inline-block;
    position: relative;
    top: -30px;
    left: 140px;
}
.shadow{
    width: 1920px;
    height: 358px;
    background-image: url(../img/shadow.png);
    position: relative;
    top: -360px;
}
.shadow1{
    width: 399px;
    display: inline-block;
    position: relative;
    top: 309px;
    left: 1358px;

}
.block-main{
    width: 1920px;
    height: 3972px;
    background-color: black;
    position: relative;
    top: -450px;
}
.block1{
    width: 1462px;
    margin: auto;
    background-color: black;
}
.photo1{
    width: 598px;
    height: 720px;
    margin: auto;
    display: inline-block;
    position: relative;
    top: -100px;
}
.photo1 img{
    width: 598px;
    height: 720px;
    margin: auto;
}
.line1{
    width: 72px;
    height: 2px;
    background-color: #FFC178;
    display: inline-block;
    margin: 10px 24px;
    position: relative;
    left: -18px;
}
.shadow1{
    width: 399px;
    display: inline-block;
}
.text{
    width: 399px;
    height: 25px;
    display: inline-block;
}
.text2{
    width: 303px;
    display: inline-block;
}
.text2 h1{
    width: 303px;
    font-size: 18px;
    font-weight: 700px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: #FFC178;
    position: relative;
}
.text1{
    width: 632px;
    margin: 0px 110px;
    display: inline-block;
    position: relative;
    top: -200px;
    left: 100px;
}
.text3 h1{
    font-size: 18px;
    font-weight: 700px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color:  #FBD784;
    letter-spacing: 3px;
    position: relative;
    top: -24px;
    left: 110px;
}
.text3{
    width: 303px;
    display: inline-block;
}
.text4{
    width: 555px;
    display: inline-block;
}
.text4 h2{
    font-size: 64px;
    font-weight: 700px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 87px;
}
.text5{
    width: 632px;
    display: inline-block;
    margin: 27px 0px;
}
.text5 h5{
    font-size: 18px;
    font-weight: 600px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 32px;
}
.text6{
    width: 141px;
    display: inline-block;
}
.more{
    width: 94px;
    display: inline-block;
}
.more h6{
    width: 94px;
    display: inline-block;
    color:  #FBD784;
    font-size: 18px;
    font-weight: 700px;
    font-family: 'Open Sans', sans-serif;
}
.arrow{
    display: inline-block;
    width: 25px;
    position: relative;
    top: 3px;
    left: 9px;
}
.block2{
    width: 1461px;
    margin: auto;
}
.photo2{
    width: 1461px;
    height: 985px;
    margin-top: 250px;
    background-image: url(../img/image2.png);
}
.coolicon{
    width: 1389px;
    height: 30px;
    margin: auto;
    position: relative;
    top: 467px;
}
.left{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: auto;
}
.left img{
    width: 12px;
    height: 21px;
    margin: auto;
}
.right{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    left: 1346px;
    margin: auto;
}
.right img{
    width: 12px;
    height: 21px;
    margin: auto;
}
.top0{
    width: 1163px;
    margin: auto;
}
.top{
    width: 320px;
    margin: auto;
    position: relative;
    top: 30px;
}
.line3{
    width: 72px;
    height: 2px;
    background-color: #FFC178;
    display: inline-block;
    margin: auto;
}
.midle{
    width: 100px;
    display: inline-block;
    margin: 0px 29px;
}
.midle p{
    width: 94px;
    display: inline-block;
    color:  #FBD784;
    font-size: 18px;
    font-weight: 700px;
    letter-spacing: 7px;
    font-family: 'Open Sans', sans-serif;
}
.line4{
    width: 72px;
    height: 2px;
    background-color: #FFC178;
    display: inline-block;
    margin: auto;
}
.top1{
    width: 705px;
    margin: auto;
}
.top1 h1{
    font-size: 64px;
    font-weight: 700;
    margin-top:49px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 87px;
}
.top2{
    width: 955px;
    margin: auto;
}
.top2 h5{
    font-size: 18px;
    font-weight: 600;
    margin: 27px auto;
    color: white;
    word-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
}
.top3{
    width: 150px;
    margin: 12px auto;
}
.top3 h6{
    width: 94px;
    display: inline-block;
    color:  #FBD784;
    font-size: 18px;
    font-weight: 700px;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}
.arrow1{
    display: inline-block;
    width: 25px;
    position: relative;
    top: 3px;
    left: 9px;
}
.block3{
    width: 1463px;
    height: 1120px;
    margin: auto;
}
.left1{
    width: 632px;
    float: left;
}
.line5{
    width: 72px;
    height: 2px;
    background-color: #FFC178;
    display: inline-block;
    margin-top: 342px;
}
.indo{
    width: 404px;
    display: inline-block;
    position: relative;
    left: 86px;
    top: -10px;
}
.indo p{
    display: inline-block;
    color:  #FBD784;
    letter-spacing: 7px;
    font-size: 18px;
    font-weight: 700px;
    font-family: 'Open Sans', sans-serif;
}
.indo h1{
    width: 555px;
    color:  white;
    font-size: 64px;
    font-weight: 700px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 27px;
    position: relative;
    left: -90px;
    line-height: 87px;
}
.indo h5{
    width: 632px;
    color:  white;
    font-size: 18px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 27px;
    position: relative;
    left: -90px;
    line-height: 32px;
}
.moree{
    width: 194px;
    display: inline-block;
    position: relative;
    margin-top: 27px;
    left: -5px;
}
.moree h6{
    width: 94px;
    display: inline-block;
    color:  #FBD784;
    font-size: 18px;
    font-weight: 700px;
    font-family: 'Open Sans', sans-serif;
}
.arroww{
    display: inline-block;
    width: 25px;
    position: relative;
    top: 3px;
    left: 9px;
}
.right1{
    width: 578;
    float: right;
    margin-top: 226px;
}
.down1{
    width: 1460px;
    height: 130px;
    margin: auto;
}
.down1 h1{
    width: 173px;
    height: 120px;
    color:  white;
    font-size: 48px;
    font-weight: 700px;
    font-family: 'Open Sans', sans-serif;
}
.down1 h5{
    width: 200px;
    color:  white;
    height: 120px;
    font-size: 22px;
    font-weight: 400px;
    font-family: 'DM Sans', sans-serif;
    display: inline-block;
    position: relative;
    left: 950px;
    top: -105px;

}
.button1{
    width: 239px;
    height: 69px;
    background-color: #FFA343;
    font-family: 'DM Sans', sans-serif;
    display: inline-block;
    border-radius: 8px;
    padding: 24px 75px;
    position: relative;
    left: 1017px;
    top: -110px;
}
.divider{
    width: 1460px;
    height: 1.38px;
    margin: auto;
    background-color: white;
    opacity: 0.3;
    position: relative;
    top: -150px;

}
.footer{
    width: 1460px;
    margin: auto;
    position: relative;
}
.column1{
    width: 399px;
    display: inline-block;
}
.column1 h1{
   width: 370px;
   color: white;
   font-family: 'Open Sans', sans-serif;
   display: inline-block;
   font-size: 36px;
   font-weight: 700;
   line-height: 49px;
   margin-top: 55px;

}
.column1 input{
    width: 330px;
    height: 69px;
    color: white;
    margin-top: 69px;
    font-family: 'DM Sans', sans-serif;
    background-color: black;
   display: inline-block;
   font-size: 15px;
   font-weight: 400;
   opacity: 50%;
   border-bottom: 1.38px solid white ;
   border-top: none;
   border-left: none;
   border-right: none;
}
.orange{
    width: 69px;
    height: 69px;
    background-color: #FFA343;
    border: none;
    border-radius: 8px 8px 0px 0px;
}
.column2{
    width: 160px;
    display: inline-block;
    margin: 0px 200px 0px 184px ;
}
.column2 h1{
   color:#FFD1A0;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 0.23px;
}
.column2 a{
    margin: 45px 0px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 45px;
    text-decoration: none;
 }
 .column3{
    width: 100px;
    display: inline-block;
 }
 .column3 h1{
    color:#FFD1A0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.23px;
 }
 .column3 a{
    margin: 45px 0px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 45px;
    text-decoration: none;
 }
 .column4{
    width: 105px;
    display: inline-block;
    margin-left: 209px;
    position: relative;
    top: -91px;
 }
 .column4 h1{
    color:#FFD1A0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.23px;
 }
 .column4 a{
    margin: 45px 0px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 45px;
    text-decoration: none;
 }
 .roww{
    width: 1379px;
    margin: 136px auto;
 }
 .roww1{
    width: 173px;
    display: inline-block;
 }
 .roww1 a{
    color:white;
    font-family: 'DM Sans', sans-serif;;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
 }
 .roww2{
    width: 120px;
    display: inline-block;
    margin-left: 50px;
 }
 .roww2 a{
    width: 120px;
    color:white;
    font-family: 'DM Sans', sans-serif;;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
 }
 .soocial{
    width: 213px;
    display: inline-block;
    margin-left: 1200px;
 }
 .soocial a{
    margin: 0px 25.5px;
 }
 .end{
    width: 216px;
    color:white;
    font-family: 'DM Sans', sans-serif;;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    opacity: 50%;
    margin: auto;
    margin-top: 160px;
    margin-bottom: 118px;
 }