.test{
    width: 600px;
    border: 3px solid yellowgreen;
    display: flex;
}
.test1{
    width: 300px;
    border: 3px solid rgb(99, 50, 205);
    display: flex;
}
.test2{
    width: 300px;
    border: 3px solid rgb(205, 161, 50);
    display: flex;
}
@media screen and (min-width: 380px) {
    .test {
      flex-direction: column;
    }
  }